body {
  text-align: center;
}

.App {
  max-width: 900px;
  text-align: center;
  padding: 2em;
  margin: 3em;
  border: solid 2px blue;
}

.btn {
  background-color: blue;
  font-weight: 900;
  width: 50%;
}

.list-item {
  border: solid 20px rgba(134, 199, 4, 0.9);
  list-style: none;
  margin: 1em;
  padding: 1em;
  text-decoration: none;
}

.table {
  border: solid 2px black;
}

.table-row {
  border-bottom: solid 2px black;
}

.player-name {
  text-transform: uppercase;
}

.player-score {
  font-weight: 900;
  color: red;
}