.App {
  max-width: 500px;
  text-align: center;
  padding: 2em;
  margin: 3em;
  border: solid 2px blue;
}

.list-item {
  border: solid 20px rgba(134, 199, 4, 0.9);
  list-style: none;
  margin: 1em;
}